* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#header ul {
  display: flex;
}

#header ul li {
  list-style: none;
  padding: 15px 15px;
}

#header ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3 ease-in-out;
  color: #000000;
  font-weight: 400;
}

#header ul li a:hover {
  border-bottom: 3px solid white;
}

#header ul li img {
  margin-right: 30px;
}

.toggle {
  display: none;
}

@media (max-width: 749px) {
  #header ul {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100vh-80px);
    padding: 59px 100px;
    text-align: center;
    overflow: auto;
    background-color: #111;
    flex-direction: column;
    opacity: 0;
  }
}

.logo {
  color: #fff;
}

#header {
  background-color: #111;
}

#header.active1 ul {
  opacity: 1;
  top: 75px;
}

#header ul li a {
  margin: 5px 0;
  font-size: 24px;
  color: #fff;
}

.toggle {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("https://img.icons8.com/color/48/000000/barcelona-fc.png");
  cursor: pointer;
}

/*#header.active1 .toggle {
  background-image: url("https://img.icons8.com/color/48/000000/barcelona-fc.png");
  background-repeat: no-repeat;
}*/

/*               section                         */

body{
  background-image: url(https://brandemia.org/sites/default/files/inline/images/lenguaje_grafico_texturas.jpg);
  background-size: contain;
}

.title {
  display: flex;
  justify-content: center;
  margin: 40px;
  background-color: #fff;
  border-radius: 5px;
  border-color: #000000;
  margin-left: 35rem;
  margin-right: 35rem;
}

.Messi {
  height: 11cm;
  margin: 30px;
  padding: 30px;
  background-color: #ff0000;
  border-radius: 5px;
}

.Messi > img {
  height: 7.5cm;
  margin: 10px;
  padding: 2px;
  background-color: #ebe7e7;
  border-radius: 5px;
}

.Xavi {
  height: 11cm;
  margin: 30px;
  padding: 30px;
  background-color: #0000ff;
  border-radius: 5px;
}

.Xavi > img {
  height: 7.5cm;
  margin: 10px;
  padding: 2px;
  background-color: #ebe7e7;
  border-radius: 5px;
}

.Iniesta {
  height: 11cm;
  margin: 30px;
  padding: 30px;
  background-color: #ff4500;
  border-radius: 5px;
}

.Iniesta > img {
  height: 7.5cm;
  margin: 10px;
  padding: 2px;
  background-color: #ebe7e7;
  border-radius: 5px;
}

h2 {
  font-size: 2.5rem;
}
